
---
import Layout from "../layouts/Layout.astro";
import Perfil from "../components/Perfil.astro";
---

<Layout title="Portfólio">
  <h1>Olá, eu sou seu nome</h1>
  <p>Desenvolvedor Full Stack</p>
  <Perfil />
</Layout>
